body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.button {
  width: 60px;
  height: 60px;
  background: #1e293b;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.active {
  background: #22c55e;
}